In [16]:
import xarray as xr
import pandas as pd

In [12]:
df_demand_dwd = xr.open_dataset("data/dwd_icon_eu_demand_20240129_20240519.nc").to_dataframe().reset_index()
df_demand_gfs = xr.open_dataset("data/ncep_gfs_demand_20240129_20240519.nc").to_dataframe().reset_index()

In [15]:
df_demand_dwd

,reference_time,valid_time,point,RelativeHumidity,Temperature,TotalPrecipitation,WindDirection,WindSpeed,latitude,longitude
0,2024-01-29,0,0,94.732315,7.959045,NaN,178.447861,2.050460,51.479,-0.451
1,2024-01-29,0,1,91.187393,10.999084,NaN,184.766632,2.516418,51.453,-2.600
2,2024-01-29,0,2,94.796768,8.928772,NaN,206.932465,2.339590,52.449,-1.926
3,2024-01-29,0,3,93.849503,9.265686,NaN,154.407349,2.294341,53.175,-2.986
4,2024-01-29,0,4,80.285049,6.680725,NaN,257.964844,2.608235,55.860,-4.264
...,...,...,...,...,...,...,...,...,...,...
287086,2024-05-19,120,2,90.671089,13.209778,NaN,13.392853,2.931380,52.449,-1.926
287087,2024-05-19,120,3,89.839058,14.103333,NaN,353.430298,2.379001,53.175,-2.986
287088,2024-05-19,120,4,76.360542,13.553528,NaN,66.179840,1.984239,55.860,-4.264
287089,2024-05-19,120,5,95.544136,12.680481,NaN,8.797791,3.950880,53.875,-0.442
287090,2024-05-19,120,6,91.501167,12.587708,NaN,3.925323,5.289362,54.297,-1.533

In [14]:
df_demand_gfs

,reference_time,valid_time,point,RelativeHumidity,Temperature,TotalPrecipitation,WindDirection,WindSpeed,latitude,longitude
0,2024-01-29,0,0,91.699997,7.810425,0.00000,204.257614,2.830851,51.479,359.549
1,2024-01-29,0,1,97.599998,8.500427,0.00000,192.135452,2.916073,51.453,357.400
2,2024-01-29,0,2,98.900002,7.180420,0.00000,199.687820,3.155364,52.449,358.074
3,2024-01-29,0,3,96.099998,9.190430,0.02448,172.645309,2.007424,53.175,357.014
4,2024-01-29,0,4,86.099998,4.900421,0.00000,274.892761,2.803242,55.860,355.736
...,...,...,...,...,...,...,...,...,...,...
608603,2024-05-19,384,2,94.900002,12.222076,0.00000,136.180435,4.015045,52.449,358.074
608604,2024-05-19,384,3,97.400002,13.122101,0.13824,72.275940,4.608734,53.175,357.014
608605,2024-05-19,384,4,92.300003,11.922089,0.00000,58.344635,3.912000,55.860,355.736
608606,2024-05-19,384,5,98.500000,12.422089,0.36864,85.758881,5.585268,53.875,359.558
608607,2024-05-19,384,6,96.800003,12.322083,2.22048,28.012360,4.194446,54.297,358.467

In [17]:
pd.read_csv("data\Energy_Data_20240119_20240519.csv")

,dtm,MIP,Solar_MW,Solar_installedcapacity_mwp,Solar_capacity_mwp,Wind_MW,SS_Price,boa_MWh,DA_Price
0,2024-01-19T00:00:00Z,51.13,0.0,2609.200511,2448.350087,913.040,53.00000,0.0,62.03
1,2024-01-19T00:30:00Z,58.20,0.0,2609.200511,2448.350087,873.600,89.00000,0.0,62.03
2,2024-01-19T01:00:00Z,62.67,0.0,2609.200511,2448.350087,1051.820,53.00000,0.0,59.13
3,2024-01-19T01:30:00Z,56.74,0.0,2609.200511,2448.350087,1133.840,53.06000,0.0,59.13
4,2024-01-19T02:00:00Z,59.45,0.0,2609.200511,2448.350087,1145.220,89.00000,0.0,59.46
...,...,...,...,...,...,...,...,...,...
5851,2024-05-19T21:30:00Z,77.40,0.0,2741.831037,2573.542092,227.518,56.20000,0.0,76.81
5852,2024-05-19T22:00:00Z,80.82,0.0,2741.831037,2573.542092,197.090,102.00023,0.0,71.11
5853,2024-05-19T22:30:00Z,75.69,0.0,2741.831037,2573.542092,171.306,99.00000,0.0,71.11
5854,2024-05-19T23:00:00Z,78.98,0.0,2741.831037,2573.542092,163.164,106.44988,0.0,66.51
5855,2024-05-19T23:30:00Z,78.44,0.0,2741.831037,2573.482016,178.092,70.67000,0.0,66.51

In [19]:
pd.read_parquet("preprocessed_demand_with_energy.parquet").columns

Index(['Solar_MWh_credit', 'Wind_MWh_credit', 'affectedUnit',
       'availableCapacity', 'cos_day', 'cos_dayofweek', 'cos_hour',
       'cos_month', 'forecast_horizon', 'hoursSinceOutage',
       'hoursUntilOutageEnd', 'outage', 'rel_hum', 'rel_hum_diff', 'sin_day',
       'sin_dayofweek', 'sin_hour', 'sin_month', 'temp', 'temp_diff',
       'temp_max_3h', 'temp_max_6h', 'temp_mean_3h', 'temp_mean_6h',
       'temp_min_3h', 'temp_min_6h', 'temp_next_forecast', 'temp_range_3h',
       'temp_std_3h', 'temp_std_6h', 'total_prec', 'total_prec_max_3h',
       'total_prec_max_6h', 'total_prec_mean_3h', 'total_prec_mean_6h',
       'total_prec_min_3h', 'total_prec_min_6h', 'total_prec_next_forecast',
       'total_prec_std_3h', 'total_prec_std_6h', 'unavailabilityType',
       'unavailableCapacity', 'wind_dir_cos', 'wind_dir_sin', 'wind_speed',
       'wind_speed_diff', 'wind_speed_max_3h', 'wind_speed_max_6h',
       'wind_speed_mean_3h', 'wind_speed_mean_6h', 'wind_speed_min_3h',
       'wind_speed_min_6h', 'wind_speed_next_forecast', 'wind_speed_range_3h',
       'wind_speed_std_3h', 'wind_speed_std_6h'],
      dtype='object')

In [ ]:
import gurobipy as gp
from gurobipy import GRB

In [69]:
def get_optimal_bid(da_price, ss_price, energy_prod):

    model = gp.Model("optimize_bid")

    price_diff = da_price - ss_price
    bid = model.addVar(name="bid")
    lambda_1 = model.addVar(name="lambda_1")
    lambda_2 = model.addVar(name="lambda_2")

    def revenue_func(bid):
        return ss_price * energy_prod + price_diff * bid - 0.07 * (energy_prod - bid)**2

    model.setObjective(revenue_func(bid), GRB.MAXIMIZE)

    model.addConstr(price_diff + 0.14 * (energy_prod - bid) - lambda_1 + lambda_2 == 0, name="KKT_gradient")
    model.addConstr(-bid <= 0)
    model.addConstr(bid <= 1800)
    model.addConstr(-lambda_1 * bid == 0, name="KKT_complementarity_lower")
    model.addConstr(lambda_2 * (bid - 1800) == 0, name="KKT_complementarity_upper")

    model.optimize()

    lambda_1_result = lambda_1.X
    lambda_2_result = lambda_2.X

    if lambda_1_result == 0 and lambda_2_result == 0:
        optimal_bid = energy_prod + 7.14 * price_diff
    elif lambda_1_result != 0 and lambda_2_result == 0:
        optimal_bid = 0
    elif lambda_1_result == 0 and lambda_2_result != 0:
        optimal_bid = 1800

    revenue = revenue_func(optimal_bid)

    return optimal_bid, revenue, lambda_1_result, lambda_2_result

In [70]:
get_optimal_bid(da_price=5, ss_price=5, energy_prod=5)

Gurobi Optimizer version 11.0.3 build v11.0.3rc0 (win64 - Windows 11.0 (22631.2))

CPU model: AMD Ryzen 7 5800X 8-Core Processor, instruction set [SSE2|AVX|AVX2]
Thread count: 8 physical cores, 16 logical processors, using up to 16 threads

Optimize a model with 3 rows, 3 columns and 5 nonzeros
Model fingerprint: 0x6f18f324
Model has 1 quadratic objective term
Model has 2 quadratic constraints
Coefficient statistics:
  Matrix range     [1e-01, 1e+00]
  QMatrix range    [1e+00, 1e+00]
  QLMatrix range   [2e+03, 2e+03]
  Objective range  [7e-01, 7e-01]
  QObjective range [1e-01, 1e-01]
  Bounds range     [0e+00, 0e+00]
  RHS range        [7e-01, 2e+03]
Presolve removed 2 rows and 0 columns

Continuous model is non-convex -- solving as a MIP

Presolve removed 2 rows and 0 columns
Presolve time: 0.00s
Presolved: 5 rows, 4 columns, 6 nonzeros
Presolved model has 1 SOS constraint(s)
Presolved model has 1 quadratic objective terms
Presolved model has 1 bilinear constraint(s)
Warning: Model contains variables with very large bounds participating
         in product terms.
         Presolve was not able to compute smaller bounds for these variables.
         Consider bounding these variables or reformulating the model.

Variable types: 4 continuous, 0 integer (0 binary)
Found heuristic solution: objective 25.0000000

Explored 0 nodes (0 simplex iterations) in 0.01 seconds (0.00 work units)
Thread count was 16 (of 16 available processors)

Solution count 1: 25

Optimal solution found (tolerance 1.00e-04)
Best objective 2.500000000000e+01, best bound 2.500000000000e+01, gap 0.0000%

(5.0, 25.0, 0.0, 0.0)